<div class="latest-blog section bg-grey">
    <div class="container">
        <div class="title-section">
            <h3>{{category.title}}</h3>
            <p><span class="line"></span>{{category.subtitle}}</p>
        </div>
        <div class="row">
            {{#each category.items}}
                <div class="col col-sm-12 col-12 col-md-4">
                    <div class="content">
                        <img src="img" alt="" class="w-100">
                        
                        <div class="content-text">
                            <h5><a href="">{{title}}</a></h5>
                            <span>{{subtitle}}</span>
                            <p class="mb-0">{{text}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>