<div class="services section bg-grey">
    <div class="container">
        <div class="title-section">
            <h3>{{services.title}}</h3>
            <p><span class="line"></span>{{services.subtitle}}</p>
        </div>
        <div class="row">
            {{#each services.items}}
                <div class="col col-md-4 col-sm-12 col-12">
                    <div class="content">
                        <img width="100%" src="{{img}}" alt="">
                        <h5>{{price}}</h5>
                        <p class="mb-0">{{title}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>